<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>史明杭个人博客</title>
</head>
<body>
    <!--头部开始-->
    <header class="header" style="height: 52px">
        <div class="navbar">
            <p class="logo">
                <a href="/"><img alt="个人博客" style="display:block" src="/static/image/logo.jpg"></a>
            </p>
            <ul class="nav">
                <li class=""><a href="/">首页</a></li>
                <li class=""><a href="/">关于</a></li>
                <li class=""><a href="/">成长</a></li>
                <li class=""><a href="/">学习</a></li>
                <li class=""><a href="/">娱乐</a></li>
                <li class=""><a href="/">求助</a></li>
                <li class=""><a href="/">留言</a></li>
            </ul>
        </div>
    </header>
</body>
</html>