* {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	top: 0;
	z-index: 999;               /*设置此标签的优先级，999说明此标签覆盖其他标签，优先显示*/
	margin-bottom: 20px;
	width: 100%;
	/*background: #222;*/
	opacity: .95;				/*本元素的不透明度是 0.95。请注意，文本和背景色都受到不透明级别的影响*/
	-moz-opacity: .9			/*透明度90%*/
}

a {
	text-decoration: none;
}

.container {
	border: 1px solid red;
	margin: 0 auto;
	width: 1200px;
}

.container:after {			/*清除浮动的方式*/
	clear: both;
	display: block;
	content: "";
}

ul {
	float: right;
	border: 4px solid gold;
}

ul>li{
	display: block;
	border: 1px solid black;
	width: 100px;
	height: 60px;
	float: left;
	text-align: center;					/*让快内元素水平居中*/
	line-height: 60px;					/*让块内元素垂直居中*/
}






