* {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6;
}

.header {
	position: fixed;
	top: 0;
	z-index: 999;               /*设置此标签的优先级，999说明此标签覆盖其他标签，优先显示*/
	margin-bottom: 20px;
	width: 100%;
	/*background: #222;*/
	opacity: .95;				/*本元素的不透明度是 0.95。请注意，文本和背景色都受到不透明级别的影响*/
	-moz-opacity: .9			/*透明度90%*/
}

.container {
	border: 1px solid red;
	margin: 0 auto;
	width: 1200px;
	height: 60px;
}

.container:after {						/*清除浮动的方式*/
	clear: both;
	display: block;
	content: "";
}

li {
	list-style: none;
}

.navbar>ul {
	float: right;
}

.navbar>ul>li{
	float: left;
}

.nav>li>a {
	display: block;						/*变成块级元素，a标签充满整个li标签*/
	/*border: 1px solid black;*/
	width: 100px;
	height: 60px;
	text-align: center;					/*让块内元素水平居中*/
	line-height: 60px;					/*让块内元素垂直居中*/
	color: #555555;
	text-decoration: none;
	background: #FFFFFF;
}

.nav_child>li>a:hover,
.nav>li>a:hover{
	color: #FFFFFF;
	background: #409EFF;
}

.nav_child{
	display: none;
}

.nav .drop-down:hover .nav_child {
	display: block;

}

.nav_child>li>a{
	width: 100px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	color: #555555;
	background: #FFFFFF;
	display: block;
}

/*.nav_child {*/
/*	background: #FFFFFF;*/
/*}*/







